<article class="archive-article">
  <div class="archive-article-inner">
    <header class="archive-article-header">
      <%- partial('post/date', {class_name: 'archive-date', date_format: 'MMM D'}) %>
      <%- partial('post/title') %>
    </header>
  </div>
</article>